<section class="usuarios">
  <div class="usuarios">

    <h2>👥 Crear Usuario</h2>

    <input type="text" [(ngModel)]="name" placeholder="Nombre">
    <input type="email" [(ngModel)]="email" placeholder="Correo">
    <input type="password" [(ngModel)]="password" placeholder="Contraseña">

    <select [(ngModel)]="role">
      <option value="user">Usuario</option>
      <option value="admin">Administrador</option>
    </select>

    <!-- <button (click)="crearUsuario()">Crear Usuario</button> -->
    <button (click)="crearUsuario()" [disabled]="isLoading">
          <span *ngIf="!isLoading">💾 Guardar</span>
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>

  </div> <br><br> 

  <h3>Usuarios registrados</h3><br>

  <table>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>

    <tr *ngFor="let u of usuarios">
      <td>{{ u.name }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.role }}</td>
      <td>
        <!-- <button (click)="editar(u)">Editar</button> -->
        <button (click)="eliminar(u.id)" [disabled]="isLoading">
          <span *ngIf="!isLoading">🗑️ Eliminar</span>
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </table>

</section>