.navbar {
  display: flex;
  justify-content: space-between;
  background: #0a5c36;
  color: white;
  padding: 15px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
}