.navbar {
  display: flex;
  align-items: center;
  background: #0a5c36;
  padding: 15px 40px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* IZQUIERDA */
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-img {
  width: 55px;
  height: 55px;
  object-fit: contain;
  background: white;
  border-radius: 12px;
  padding: 5px;
}

.logo-text {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* CENTRO */
ul {
  display: flex;
  list-style: none;
  gap: 28px;
  margin: 0;
  padding: 0;

  flex: 1;
  justify-content: center;
  align-items: center;
}

ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  transition: 0.3s;
}

ul li a:hover {
  color: #dff5e7;
}

/* DERECHA */
.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.usuario {
  font-weight: 500;
}

.admin-btn,
.logout-btn {
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.admin-btn {
  background: white;
  color: #0a5c36;
}

.admin-btn:hover {
  background: #f2f2f2;
}

.logout-btn {
  background: #ffffff20;
  color: white;
  border: 1px solid #ffffff40;
}

.logout-btn:hover {
  background: #ffffff35;
}

/* HAMBURGUESA */
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .menu-icon {
    display: block;
  }

  ul {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background: #0a5c36;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 25px 0;
    gap: 20px;
  }

  ul.active {
    display: flex;
  }

  .nav-right {
    display: none;
  }

  .navbar {
    padding: 15px 20px;
  }

  .logo-text {
    font-size: 18px;
  }
}

