<!-- <section class="info">
  <div class="icono">👁️</div>
  <h2>Visión</h2>
  <p>
    Aspiramos a consolidarnos como una organización sindical líder a nivel regional y nacional, 
    reconocida por su compromiso inquebrantable con la defensa de los trabajadores y por nuestra 
    capacidad de generar un impacto positivo en la sociedad.
  </p>

  <p>
    Nuestra <span class="resaltar">visión</span> es ser un referente de unidad, fortaleza y progreso, promoviendo mejores 
    condiciones laborales y aportando al desarrollo sostenible del sector bananero.
  </p>

  <p>
    En el futuro, buscamos ampliar nuestras oportunidades, fortalecer alianzas estratégicas y 
    mantenernos como una voz firme y respetada en la construcción de una sociedad más justa, 
    equitativa y digna para todos.
  </p>
</section> -->

<div class="icono">👁️</div>
  <h2>Visión</h2>

<section class="vision-container">

  <div class="vision-card">

    <!-- 🖼 Imagen -->
    <div class="vision-img">
      <img src="/assets/images/logo.jpg" alt="visión SINTRAEXPOBAN">
    </div>

    <!-- 📄 Texto -->
    <div class="vision-texto">
      <h2>¿Cuál es nuestra <span>Visión</span>?</h2>

      <p>
        Aspiramos a consolidarnos como una organización sindical líder a nivel regional y nacional, 
        reconocida por su compromiso inquebrantable con la defensa de los trabajadores y por nuestra 
        capacidad de generar un impacto positivo en la sociedad.
      </p>

      <p>
        Nuestra <span class="resaltar">visión</span> es ser un referente de unidad, fortaleza y 
        progreso, promoviendo mejores condiciones laborales y aportando al desarrollo sostenible 
        del sector bananero.
      </p>

      <p>
        En el futuro, como <span class="resaltar">fuerza sindical</span> buscamos ampliar nuestras 
        oportunidades, fortalecer alianzas estratégicas y mantenernos como una voz firme y respetada 
        en la construcción de una sociedad más justa, equitativa y digna para todos.
      </p>

    </div>

  </div>

</section>