body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

section {
  padding: 40px;
}/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
