<footer class="footer">

  <div class="footer-container">

    <!-- LOGO + DESCRIPCIÓN -->
    <div class="footer-box">

  <img
    src="assets/images/logoo.png"
    alt="Logo Sintraexpoban"
    class="footer-logo"
  >

  <h2>SINTRAEXPOBAN</h2>


</div>

    <!-- ENLACES -->
    <div class="footer-box">
      <h3>Enlaces rápidos</h3>

      <ul>
        <li><a (click)="irA('/')">Inicio</a></li>
        <li><a (click)="irA('/historia')">Historia</a></li>
        <li><a (click)="irA('/noticias')">Noticias</a></li>
        <li><a (click)="irA('/afiliaciones')">Afiliaciones</a></li>
        <li><a (click)="irA('/contacto')">Contacto</a></li>
      </ul>
    </div>

    <!-- CONTACTO -->
    <div class="footer-box">
      <h3>Contacto</h3>

      <p>📍 Turbo, Antioquia</p>
      <p>📞 604 820 8710</p>
      <p>✉ sindicatoex&#64;hotmail.com</p>
    </div>

    <!-- REDES -->
    <div class="footer-box">
      <h3>Síguenos</h3>

      <a href="https://facebook.com"
        target="_blank"
        class="social-link">
        📘 Facebook
      </a>

    <!--   <a href="https://instagram.com"
        target="_blank"
        class="social-link">
        📷 Instagram
      </a> -->

      <a href="https://youtube.com"
        target="_blank"
        class="social-link">
        ▶ YouTube
      </a>

      <!-- <a href="https://wa.me/573103789008"
        target="_blank"
        class="social-link">
        💬 WhatsApp
      </a> -->

    </div>
    

  </div>

 

  <!-- TU FIRMA PROFESIONAL -->
  <div class="footer-bottom">
    <p>
      © 2026 SINTRAEXPOBAN — Todos los derechos reservados
    </p>

    <p class="developer">
      Desarrollado por
      <strong>Yin Handerson Palacios</strong>
      • Analista y Desarrollador de Software
    </p>
    <!-- <button (click)="scrollTop()">
      ↑ Volver arriba
    </button> -->
  </div>

</footer>